:root {
  --second-font-family: "Open Sans", "Arial", sans-serif;
}

/* MIXINS */
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Open Sans", "Poppins", "Arial", "sans-serif";
  margin: 0;
  padding: 0;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex-grow: 1;
}

.body-side {
  width: 100%;
  animation-name: squareX;
  animation-duration: 1.5s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
}

.body-side__active {
  width: 75%;
  animation-name: square;
  animation-duration: 1.5s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
}

@keyframes square {
  0% {
    width: 100%;
  }
  50% {
    width: 75%;
  }
}
@keyframes squareX {
  0% {
    width: 75%;
  }
  50% {
    width: 100%;
  }
}
img {
  vertical-align: middle;
}

hr {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.header__top {
  border-bottom: 1px solid #f3f3f3;
}

.left__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.right__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.home-form {
  width: 100%;
  max-width: 500px;
  padding: 10px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  background-color: #f9f9f9;
  position: relative;
}
.home-form::after {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(../images/lupa.svg);
  background-repeat: no-repeat;
  top: 10;
  right: 10px;
  position: absolute;
}

.form__input {
  border: none;
  background-color: transparent;
}

.navbar-item {
  display: flex;
}
.navbar-item::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #d1d1d1;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.form__input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  outline: none;
}

.form__input:focus {
  outline: none;
}

.icon__link {
  text-decoration: none;
}

.icon__btn {
  border: none;
  background-color: transparent;
}

.down__list {
  background-color: #f9f9f9;
}

.addition {
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  min-height: 740px;
  z-index: 10;
  right: 0;
  top: 0;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.15);
  transform: translateX(500px);
  transition: transform 1.5s ease;
}
.addition::-webkit-scrollbar {
  display: none;
}

.addition__active {
  transform: translateX(0);
}

.addition__btn {
  position: relative;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.addition__btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.shop__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #151515;
}

.product__img {
  border-radius: 12px;
}

.product__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.mini__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.mini__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.extra__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  position: relative;
  display: flex;
  align-items: center;
}
.extra__title::before {
  content: "";
  width: 11px;
  height: 9px;
  background-image: url(../images/heard.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.extra__title--one {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  position: relative;
  display: flex;
  align-items: center;
}
.extra__title--one::before {
  content: "";
  width: 11px;
  height: 12px;
  background-image: url(../images/pic.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.extra__title--two {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  position: relative;
  display: flex;
  align-items: center;
}
.extra__title--two::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/min-close.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.grey-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #a9a9a9;
}

.result__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #d1d1d1;
  display: flex;
  align-items: center;
}
.result__title::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #d1d1d1;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}

.product__drop {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.result {
  min-width: 98px;
  padding: 7px 7px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  position: relative;
  top: -20px;
}

.addition__top {
  border-bottom: 1px solid #f9f9f9;
}

.prise__small {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #ebebeb;
}

.prise__big {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}

.addition__bottom {
  padding-top: 150px;
}

.last__button {
  border: 1px solid #46760a;
}

.last__item--one {
  display: flex;
  align-items: center;
}
.last__item--one::after {
  content: "";
  width: 6px;
  height: 11px;
  background-image: url(../images/linebar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}

.last__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.last__link--active {
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.home__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.home__item {
  margin-bottom: 12px;
}

.home__btn {
  background-color: #F5F5F5;
}

.card-succes {
  background-image: url(../images/card-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-succes__itle {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.card-succes__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.card-succes__wrap {
  display: block;
}

.card-succes {
  padding: 48px 33px 35px 33px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.card-succes__wrap {
  margin-top: auto;
}

.card-succes__btn {
  width: 100%;
  max-width: 163px;
  border: 2px solid #92C064;
}

.card__button {
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  background-color: #6A983C;
  border: 1px solid #48780D;
  display: inline-block;
}

.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.card-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.card {
  max-width: 269px;
}

.card__plus {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  text-decoration-line: line-through;
}

.img__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0 5px;
  background-color: #F4F8EC;
  border-radius: 12px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.corusel__list {
  display: flex;
  flex-wrap: nowrap;
}

.corusel__item {
  width: 100%;
  max-width: 369px;
  min-width: 320px;
  border: 1px solid #F9F9F9;
  padding: 24px 32px 40px 32px;
}

.corusel__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #151515;
}

.corusel__span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A9A9A9;
}

.corusel__img {
  position: absolute;
  left: 45%;
  bottom: -26px;
  z-index: 10;
}

.corusel__item {
  margin-right: 32px;
}

.corusel__down {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}

.corusel__down {
  position: relative;
}

.slick-prev {
  width: 80px;
  height: 50px;
}
.slick-prev::before {
  content: "";
  width: 32px;
  height: 48px;
  background-image: url(../images/btn-one.svg);
  background-repeat: no-repeat;
  display: inline-block;
}

.slick-next {
  width: 80px;
  height: 50px;
}
.slick-next::before {
  content: "";
  width: 32px;
  height: 48px;
  background-image: url(../images/btn-two.svg);
  background-repeat: no-repeat;
  display: inline-block;
}

.post-one {
  height: 400px;
  padding: 24px 24px;
  background-image: url(../images/post-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.img__info {
  padding: 0 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
  border-radius: 12px;
}

.post-one__text {
  margin-top: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

.detal__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.picture-min {
  border-radius: 12px;
}

.frunt__info {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 0 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
  border-radius: 12px;
}

.frunt__text {
  width: 100%;
  max-width: 267px;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.frunt__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.last__img {
  border-radius: 12px;
}

.lat__info {
  width: 100%;
  max-width: 230px;
}

.last__text {
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.information__title {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.information__item:not(:last-child) {
  margin-bottom: 16px;
}

.information__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.containerr {
  width: 100% !important;
  max-width: 1210px !important;
  margin: 0 auto;
  padding: 0 20px;
}

.detail-body {
  font-family: "Poppins", "Arial", sans-serif;
}

.detail-hero {
  padding-top: 16px !important;
}

.detailes-hero-start {
  margin-right: 33px;
}

.details-hero-img {
  max-width: 569px;
  height: 437px;
  margin-bottom: 32px;
}

.detail-img {
  width: 100%;
  height: 100%;
}

.detail-hero-badge {
  top: 16px;
  left: 16px;
  z-index: 4;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
}

.detail-hero-badge-free {
  left: 86px;
}

.detail-img-mobile {
  display: none;
}

.detail-hero-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #151515;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.detail-hero-inner-start {
  width: 100%;
  max-width: 569px;
  margin-right: 33px;
}

.detail-hero-inner-end {
  width: 100%;
  max-width: 574px;
}

.details-star-box {
  max-width: 227px;
  margin-bottom: 40px;
}

.detail-star-list {
  width: 100%;
  max-width: 110px;
}

.detail-star-item:last-child .detail-star-span::before {
  background-image: url("../../images/details-star-passive.svg");
}

.detail-star-span {
  display: inline-block;
}

.details-select {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.detail-star-span::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../../images/ic-actions-star.svg");
}

.details-star-text {
  display: inline-block;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.details-carrots-text {
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #151515;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.details-top-table {
  margin-bottom: 40px;
}

.details-top-table-key {
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.details-top-table-value-text {
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.details-price-box {
  margin-bottom: 24px;
  padding: 16px 24px;
  padding-left: 16px;
}

.details-pirice-wrapper {
  margin-right: auto;
}

.details-top-span {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #6A983C;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.details-bottom-span {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.details-price-count {
  display: flex;
  align-items: center;
  margin-right: 24px;
  padding: 12px 10px;
  border-radius: 12px;
}

.details-price-count-span {
  display: flex;
  margin-right: 16px;
  padding-right: 16px;
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #D1D1D1;
}

.details-add-btn {
  display: inline-block;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: #6A983C;
  border-color: #46760A;
}

.details-like-box {
  width: 100%;
  max-width: 326px;
  margin-bottom: 62px;
}

.details-like-text {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  background-color: transparent;
}

.details-like-text::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-image: url("../images/like.svg");
}

.details-like-text:last-child::before {
  background-image: url("../images/compare-icon.svg");
}

.details-description-list {
  margin-bottom: 48px;
  border-bottom: 1px solid #F5F5F5;
}

.details-description-item {
  width: 100%;
  max-width: 179px;
  border-bottom: 1px solid transparent;
}

.details-description-item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  text-decoration: none;
}

.details-description-item-active {
  border-bottom-color: #6A983C;
}

.details-description-link {
  display: flex;
  align-items: center;
}

.details-description-link::after {
  content: "18";
  margin-left: 8px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #F4F8EC;
  border-radius: 12px;
}

.details-description-link-last::after {
  content: "4";
}

.details-origin-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.details-origin-text {
  margin: 0;
  margin-bottom: 32px;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.details-origin-title-full {
  margin-bottom: 23px;
}

.details-table-heading {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

td {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #575757;
}

@media only screen and (max-width: 950px) {
  .detail-hero-inner {
    flex-direction: column;
  }
  .detail-hero-inner-start {
    margin: 0 auto;
  }
  .detail-hero-inner-end {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .detail-hero-inner-start {
    max-width: 270px;
  }
  .details-hero-img {
    max-width: 269px;
    height: 180px;
  }
}
@media only screen and (max-width: 490px) {
  .detail-hero-title {
    font-size: 25px;
  }
  .details-carrots-text {
    font-size: 13px;
  }
  .details-origin-text {
    font-size: 12px;
  }
  .details-bottom-span {
    font-size: 10px;
  }
  .details-top-span {
    font-size: 20px;
  }
  .details-price-count-span {
    margin-right: 5px;
    padding-right: 5px;
  }
  .details-top-table-key-text {
    font-size: 10px;
  }
  .details-top-table-value-text {
    font-size: 10px;
  }
  .details-like-box {
    max-width: 250px;
  }
  .details-like-text {
    font-size: 11px;
  }
  .details-description-item a {
    font-size: 12px;
  }
  td {
    font-size: 10px;
  }
}
@media only screen and (max-width: 430px) {
  .details-price-box {
    flex-direction: column;
    align-items: center;
  }
  .details-pirice-wrapper {
    flex-direction: row !important;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 15px;
  }
  .details-price-count {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .details-top-span {
    margin-right: 5px;
  }
  .details-price-count-span {
    display: flex;
    margin: 0;
    padding-right: 16px;
    font-size: 14px;
  }
  .details-add-btn {
    display: inline-block;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #6A983C;
    border-color: #46760A;
  }
}
/* Product section start */
.product {
  padding-top: 76px;
  padding-bottom: 64px;
}

.product-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.product-top {
  margin-bottom: 37px;
}

.product-link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
}

.product-link::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 6px;
  background-image: url("../../images/right-arrow.svg");
}

.product-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template: 32px;
}

.product-item {
  width: 268px;
  padding: 16px;
  border-radius: 12px;
}

.product-item-badge {
  top: 28px;
  left: 28px;
  z-index: 4;
  padding: 0 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
}

.product-img-box {
  width: 236px;
  height: 180px;
  margin-bottom: 16px;
}

.product-img-box img {
  width: 100%;
  height: 100%;
}

.product-heading {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.product-text {
  margin: 0;
  margin-bottom: 16px;
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.product-price {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.product-btn {
  display: inline-block;
  padding: 7px 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

@media only screen and (max-width: 1210px) {
  .product-list {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .product-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 870px) {
  .product-list {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-item:nth-child(3) {
    margin-bottom: 0;
  }
  .product-item:nth-child(1) {
    margin-right: auto;
  }
  .product-item:nth-child(3) {
    margin-right: auto;
  }
}
@media only screen and (max-width: 610px) {
  .product-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    max-width: 270px;
    margin: 0 auto;
  }
  .product-item {
    margin-bottom: 20px;
  }
}
/* CHECKOUT PAGE START */
.checkout-hero {
  padding-top: 33px;
  padding-bottom: 55px;
}

.checkout-hero-inner {
  display: flex;
  justify-content: space-between;
}

.checkout-hero-top {
  margin-bottom: 32px;
}

.checkout-form-input-check {
  max-width: 243px;
}

.checkout-hero-start {
  width: 100%;
  max-width: 670px;
}

.checkout-hero-article {
  width: 100%;
  max-width: 468px;
  padding: 32px 16px;
  border-radius: 12px;
}

.checkout-hero-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.checkout-hero-text {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.checkout-hero-top-span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #A9A9A9;
}

.checkout-form-label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.checkout-form-input {
  margin-bottom: 32px;
  padding: 8px 0 8px 21px;
  border-radius: 12px;
  width: 100%;
  background-color: #F9F9F9;
}
.checkout-form-input::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.checkout-form-input-check {
  width: 100%;
  margin-bottom: 64px;
  padding: 8px 0 8px 40px;
  border-radius: 12px;
  background-color: #F9F9F9;
}

.checkout-hero-form-label-box {
  padding: 14px 18px 14px 46px;
  border-radius: 12px;
  background-color: #F9F9F9;
}

.payment-method-span {
  display: inline-block;
  margin-left: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.payment-method-price {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.payment-method-price-text {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.checkout-hero-form-label-box-bottom {
  margin-bottom: 64px;
}

.payment-method-wrapper {
  margin-bottom: 32px;
}

.payment-method {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 12px;
}

.card-holder-input {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin-right: 32px;
}

.card-date {
  width: 100%;
  max-width: 120px;
}

.form-check-label-paypal {
  margin-bottom: 16px;
}

.order-notes-input {
  height: 112px;
  resize: none;
}

.agree-box {
  margin-bottom: 32px;
}

.coplete-order {
  display: block;
  width: 100%;
  max-width: 218px;
  margin-bottom: 32px;
  padding: 15px 48px;
}

.all-your-date-title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.all-your-date-title::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  background-image: url("../images/all-your-date.svg");
}

.getting-text-box {
  width: 100%;
  max-width: 213px;
  margin-bottom: 80px;
}

.copy-right-text {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.details-like-text-product-order {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  border: none;
  background-color: transparent;
}

.details-like-text-product-order::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background-image: url("../images/like.svg");
  background-size: cover;
}

.details-like-text-product-order:nth-child(2)::before {
  background-image: url("../images/compare-icon.svg");
}

.details-like-text-product-order:nth-child(3)::before {
  background-image: url("../images/exit-icon.svg");
}

.product-order-star-list {
  max-width: 88px;
  margin-bottom: 5px;
}

.wishlist-wrapper {
  margin-right: 38px;
}

.product-order-stars-wrapper {
  margin-right: auto;
}

.product-star-span::before {
  width: 16px;
  height: 16px;
  background-size: cover;
}

.product-price {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6A983C;
}

.product-price-bottom {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.product-price-count {
  padding: 6px 6px;
}

.product-order-heading {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.product-order-desc {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.product-order-desc-span {
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.product-order-desc-span-freshness {
  margin-right: 20px;
}

.i-agree-chackbox {
  display: block;
  width: 100%;
  max-width: 620px;
}

.i-agree-with-checkbox {
  display: block;
  width: 100%;
  max-width: 450px;
}

.product-order-box {
  margin-top: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F9F9F9;
}

.m-order-total-list {
  margin-top: 40px;
  margin-bottom: 32px;
}

.m-order-total-item:not(:last-child) {
  margin-bottom: 12px;
}

.m-order-total-span {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #151515;
}

.apply-label {
  display: block;
  margin-bottom: 40px;
  padding: 0 16px 0 21px;
  border-radius: 12px;
}

.apply-input {
  width: 70%;
  height: 42px;
  outline-color: #D1D1D1;
  border: none;
}

.apply-span {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.checkout-form-start {
  width: 100%;
  margin-right: 32px;
}

.checkout-form-end {
  width: 100%;
}

.total-order-text {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.date-text {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
}

.order-last-price {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: right;
  color: #6A983C;
}

@media only screen and (max-width: 1060px) {
  .card-holder-input {
    width: 80%;
  }
  .card-date {
    padding-left: 8px;
    width: 85%;
  }
}
@media only screen and (max-width: 950px) {
  .checkout-hero-inner {
    flex-direction: column;
  }
  .checkout-hero-start {
    max-width: 100%;
  }
  .checkout-hero-article {
    max-width: 100%;
  }
  .copy-right-text {
    margin-bottom: 20px;
  }
  .zip-input {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .checkout-form-inner-box {
    flex-direction: column;
  }
  .checkout-form-start {
    margin-right: 0;
  }
}
@media only screen and (max-width: 470px) {
  .payment-method-bottom {
    flex-direction: column;
  }
  .card-holder-input {
    margin-bottom: 20px;
  }
  .expiration-label {
    margin-top: 20px;
  }
  .confirmation-title-test-box {
    max-width: 250px;
  }
  .payment-method-span {
    font-size: 10px;
  }
  .payment-method-price {
    font-size: 10px;
  }
  .payment-method-price-text {
    font-size: 10px;
  }
  .dhl-fedx-img-first {
    width: 40px;
  }
  .dhl-fedx-img-second {
    width: 80px;
  }
  .checkout-hero-title {
    font-size: 18px;
  }
  .product-order-heading {
    font-size: 13px;
  }
  .product-order-desc {
    font-size: 10px;
  }
  .details-like-text-product-order {
    font-size: 10px;
  }
  .product-price {
    display: block;
    font-size: 15px;
  }
  .product-price-bottom {
    display: block;
    font-size: 10px;
  }
  .details-pirice-wrapper {
    flex-direction: column;
  }
  .order-last-price {
    font-size: 20px;
  }
  .total-order-bottom-box {
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .payment-method-price {
    display: none;
  }
  .payment-method-price-text {
    display: none;
  }
  .details-price-count-span {
    font-size: 10px;
  }
  .details-select {
    font-size: 10px;
  }
  .apply-input::placeholder {
    font-size: 10px;
  }
  .apply-span {
    font-size: 10px;
  }
}
.containerz {
  width: 100% !important;
  max-width: 1210px !important;
  margin: 0 auto;
  padding: 0 20px;
}

.fruit-big-title {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #151515;
}

.fruit-list {
  display: flex;
  justify-content: space-between;
  width: 275px;
}

.fruit-list-link {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.fruit-item:nth-child(1) .fruit-list-link::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url("../images/grid.png");
  content: "";
}
.fruit-item:nth-child(2) .fruit-list-link {
  color: #A9A9A9;
}
.fruit-item:nth-child(2) .fruit-list-link::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url("../images/list.svg");
  content: "";
}
.fruit-item:nth-child(3) .fruit-list-link {
  color: #A9A9A9;
}
.fruit-item:nth-child(3) .fruit-list-link::before {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  content: "117";
}

.fruit-box {
  display: flex;
}

.fruit-label-box {
  display: flex;
  justify-content: space-between;
  width: 270px;
  padding: 10px 25px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
}

.form-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.form-label--active {
  width: 150px;
}

[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}
[type=radio]:checked {
  border: 6px solid #000;
  transition: all 0.3s ease;
}

[type=range] {
  accent-color: green;
}

.fruit-radio-tiny {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
}

.fruit-checkbox-tiny {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #D1D1D1;
  border-radius: 2px;
}

[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: green;
  border: 1.5px solid #D1D1D1;
}

.fruit-label-tiny-nbm {
  display: inline-block;
  margin-left: 8px;
  padding: 0px 8px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  border: 2px solid #D1D1D1;
  border-radius: 10px;
  color: #151515;
}

.nbm {
  border-right: 2px solid #D1D1D1;
}

.fruit-select {
  margin-left: 24px;
  padding-left: 20px;
  border: none;
  border-left: 2px solid #D1D1D1;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 359px;
}

.select-box-text,
.select-box-link {
  margin: 0px 12px 0px 0px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #A9A9A9;
}

.select-box-link {
  position: relative;
  display: inline-block;
  align-items: center;
  padding: 0px 24px 0px 8px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
}
.select-box-link::after {
  position: absolute;
  top: 5px;
  width: 8px;
  height: 8px;
  margin-left: 7px;
  background-image: url("../images/X.svg");
  background-size: contain;
  content: "";
}

.product-img-box img {
  width: 100%;
  height: auto !important;
}

@media only screen and (max-width: 401px) {
  .select-box {
    width: 300px;
    display: block;
  }
  .select-box-link {
    display: inline-block;
  }
}
.categories-title,
.brands-title,
.rating-title {
  margin: 0px 0px 16px 0px;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #151515;
}

.categories-text {
  display: inline-block;
  margin: 0px 130px 12px 0px;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.categories-tiny {
  display: inline-block;
  padding: 0px 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
}

.product-list--active {
  display: block;
}

.product-item,
.product-list-item {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.product-list-item {
  width: 268px;
  padding: 16px 16px 20px 16px;
}

.product-box {
  padding: 15px 0px 0px 32px;
}

.product-title {
  margin: 0px 0px 4px 0px;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.product-text {
  margin: 0px 0px 12px 0px;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.product-item {
  width: 100%;
}

.freshness-item {
  width: 232px;
}

@media only screen and (max-width: 400px) {
  .freshness-item {
    display: block !important;
  }
}
.freshness-text {
  margin: 0px 0px 12px 0px;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.product-boxing-strong {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.product-boxing-del {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.product-boxing-text {
  margin: 0px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.product-boxing-texted {
  margin-bottom: 26px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.product-boxing-btn,
.product-boxes-btn {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding: 12px 38px 12px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}
.product-boxing-btn::after,
.product-boxes-btn::after {
  position: absolute;
  bottom: 18px;
  right: 20px;
  width: 7px;
  height: 10px;
  background-image: url("../images/btn-line.svg");
  background-repeat: no-repeat;
  content: "";
}

.product-boxes-btn {
  padding: 7px 12px;
}
.product-boxes-btn::after {
  display: none;
}

.product-boxing-button {
  position: relative;
  padding: 7px 12px 7px 36px;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #151515;
  background: #F5F5F5;
  border-radius: 12px;
  border-color: transparent;
}
.product-boxing-button::before {
  position: absolute;
  bottom: 12px;
  left: 15px;
  width: 16px;
  height: 13px;
  background-image: url("../images/btn-love.svg");
  content: "";
}

@media only screen and (max-width: 600px) {
  .product-list {
    display: block;
  }
  .product-list-item {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1199px) {
  .product-img-box {
    display: none;
  }
  .form-label {
    width: 200px;
  }
}
.range-wrap {
  display: flex;
}

.range-text {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #151515;
}

.range-tiny {
  display: inline-block;
  padding: 16px 40px;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.form-btn-s,
.form-btn-r {
  padding: 13px 16px;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.form-btn-r {
  color: #A9A9A9;
  background-color: #FFFFFF;
  border-color: transparent;
  border-radius: 12px;
}

.page-box {
  display: flex;
}

.page-text,
.page-link {
  margin: 0px 8px 0px 0px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.page-list {
  display: flex;
}

.page-link {
  color: #151515;
}

.page-link-active {
  color: #6A983C;
}

.page-btn {
  padding: 12px 16px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.page-tiny {
  margin-right: 4px;
  padding: 0px 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
  border-radius: 12px;
}

@media only screen and (max-width: 500px) {
  .page-wrap {
    flex-direction: column;
  }
}
.footer__title {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.footer__item {
  margin-top: 16px;
  margin-right: 26px;
}

.footer__link {
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  padding: 4px 10px;
  background-color: #F5F5F5;
  border-radius: 12px;
}

.footer__epic {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.lino {
  width: 400px;
  height: 200px;
  background-color: royalblue;
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */