html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Open Sans", "Poppins", "Arial", "sans-serif";
  margin: 0;
  padding: 0;
  font-weight: 400;
	overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.site-main{
  flex-grow: 1;
}

.body-side {
  width: 100%;
  animation-name: squareX;
  animation-duration: 1.5s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
}

.body-side__active {
  width: 75%;

  animation-name: square;
  animation-duration: 1.5s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
}

@keyframes square {
  0% {
    width: 100%;
  }
  50% {
    width: 75%;
  }
}

@keyframes squareX {
  0% {
    width: 75%;
  }
  50% {
    width: 100%;
  }
}

img {
  vertical-align: middle;
}

hr {
  margin: 0;
}
