.footer__title{
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;
}

.footer__item{
  margin-top: 16px;
  margin-right: 26px;
}

.footer__link{
  display: inline-block;
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #151515;
padding: 4px 10px;
background-color: #F5F5F5;
border-radius: 12px;
}

.footer__epic{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #151515;
}

.lino{
  width: 400px;
  height: 200px;
  background-color: royalblue;
  margin-right: 20px;
}

