.fruit-big-title {
    font-family: "Poppins";
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: #151515;
}

.fruit-list {
    display: flex;
    justify-content: space-between;
    width: 275px;
}

.fruit-list-link {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}

.fruit-item {
    &:nth-child(1) .fruit-list-link {
        &::before {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            background-image: url("../images/grid.png");
            content: "";
        }
    }

    &:nth-child(2) .fruit-list-link {
        color: #A9A9A9;

        &::before {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            background-image: url("../images/list.svg");
            content: "";
        }
    }

    &:nth-child(3) .fruit-list-link {
        color: #A9A9A9;

        &::before {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 4px;
            color: #6A983C;
            background: #F4F8EC;
            border-radius: 12px;
            content: "117";
        }
    }
}

.fruit-box {
    display: flex;
}

.fruit-label-box {
    display: flex;
    justify-content: space-between;
    width: 270px;
    padding: 10px 25px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

.form-label {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}

.form-label--active {
    width: 150px;
}
[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 50%;

    &:checked {
        border: 6px solid #000;
        transition: all 0.3s ease;
    }
}

[type="range"] {
    accent-color: green;
}

.fruit-radio-tiny {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 50%;
}

.fruit-checkbox-tiny {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #D1D1D1;
    border-radius: 2px;
}

[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: green;
    border: 1.5px solid #D1D1D1;
}

.fruit-label-tiny-nbm {
    display: inline-block;
    margin-left: 8px;
    padding: 0px 8px;
    font-family: "Poppins";
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    border: 2px solid #D1D1D1;
    border-radius: 10px;
    color: #151515;
}

.nbm {
    border-right: 2px solid #D1D1D1;
}

.fruit-select {
    margin-left: 24px;
    padding-left: 20px;
    border: none;
    border-left: 2px solid #D1D1D1;
}

.select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 359px;
}

.select-box-text,
.select-box-link {
    margin: 0px 12px 0px 0px;
    font-family: "Poppins";
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #A9A9A9;
}

.select-box-link {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 0px 24px 0px 8px;
    color: #6A983C;
    background: #F4F8EC;
    border-radius: 12px;

    &::after {
        position: absolute;
        top: 5px;
        width: 8px;
        height: 8px;
        margin-left: 7px;
        background-image: url("../images/X.svg");
        background-size: contain;
        content: "";
    }
}

@media only screen and (max-width: 401px) {
    .select-box {
        width: 300px;
        display: block;
    }

    .select-box-link {
        display: inline-block;
    }
}

// CATEGORIES
.categories-title,
.brands-title,
.rating-title {
    margin: 0px 0px 16px 0px;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #151515;
}

.categories-text {
    display: inline-block;
    margin: 0px 130px 12px 0px;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}

.categories-tiny {
    display: inline-block;
    padding: 0px 8px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    background: #F4F8EC;
    border-radius: 12px
}

// PRODUCT
.productt-list--active{
    display: block;
}
.productt-item,
.productt-list-item {
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.productt-list-item{
    width: 268px;
    padding: 16px 16px 20px 16px;
}
.productt-box {
    padding: 15px 0px 0px 32px;
}
.productt-title{
    margin: 0px 0px 4px 0px;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
.productt-text{
    margin: 0px 0px 12px 0px;
    font-size: 12px;
line-height: 16px;
color: #575757;
}
.freshness-item {
    width: 232px;
}
@media only screen and (max-width: 400px){
    .freshness-item{
        display: block !important;
    }
}
.freshness-text {
    margin: 0px 0px 12px 0px;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
}

.productt-boxing-strong {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.productt-boxing-del {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}

.productt-boxing-text {
    margin: 0px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A9A9A9;
}

.productt-boxing-texted {
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.productt-boxing-btn,
.productt-boxes-btn {
    position: relative;
    display: block;
    margin-bottom: 12px;
    padding: 12px 38px 12px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;

    &::after {
        position: absolute;
        bottom: 18px;
        right: 20px;
        width: 7px;
        height: 10px;
        background-image: url("../images/btn-line.svg");
        background-repeat: no-repeat;
        content: "";
    }
}
.productt-boxes-btn{
    padding: 7px 12px;
    &::after{
        display: none;
    }
}
.productt-boxing-button {
    position: relative;
    padding: 7px 12px 7px 36px;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: #151515;
    background: #F5F5F5;
    border-radius: 12px;
    border-color: transparent;

    &::before {
        position: absolute;
        bottom: 12px;
        left: 15px;
        width: 16px;
        height: 13px;
        background-image: url("../images/btn-love.svg");
        content: "";
    }
}
@media only screen and (max-width: 600px){
    .productt-list{
        display: block;
    }
    .productt-list-item{
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1199px){
    .productt-img-box{
        display: none;
    }
    .form-label{
        width: 200px;
    }
}
// RANGE
.range-wrap{
    display: flex;
}
.range-text{
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
color: #151515;
}
.range-tiny{
    display: inline-block;
    padding: 16px 40px;
    font-size: 14px;
line-height: 19px;
color: #A9A9A9;
background-color: #F9F9F9;
border: 1px solid #D1D1D1;
border-radius: 12px;
}
.form-btn-s,
.form-btn-r{
    padding: 13px 16px;
    font-family: "Poppins";
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
color: #FFFFFF;
background-color: #6A983C;
border: 2px solid #46760A;
border-radius: 12px;
}
.form-btn-r{
    color: #A9A9A9;
    background-color: #FFFFFF;
    border-color: transparent;
border-radius: 12px;
}

// PAGE
.page-box{
    display: flex;
}
.page-text,
.page-link {
    margin: 0px 8px 0px 0px;
    font-size: 12px;
line-height: 16px;
color: #A9A9A9;
}
.page-list {
    display: flex;
}
.page-link {
    color: #151515;
}
.page-link-active{
    color: #6A983C;
}
.page-btn{
    padding: 12px 16px;
    font-family: 'Poppins';
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
background-color: #6A983C;
border: 2px solid #46760A;
border-radius: 12px;
}
.page-tiny{
    margin-right: 4px;
    padding: 0px 8px;
    font-family: "Poppins";
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #6A983C;
background-color: #F4F8EC;
border-radius: 12px;
}
@media only screen and (max-width: 500px){
    .page-wrap{
        flex-direction: column;
    }
}